@charset "UTF-8";


body{
    background-color: white;
}
div#barra{
    margin: 0px 0px 0px 0px;
}


img#icone {
    top: 5px;
    position: absolute;
    left: 164px;
}
.capa{
    background:url('../_imagens/capa.png') no-repeat 0px 0px;
    min-height:605px;
    background-size:cover;
    position:relative;
    top: 100px;
    left: -8px;
    width: 1265px;

}
div#cabecalho{
    display: block;
    position: relative;
}
/*Menu*/
nav#menu{
    display: block;
    position: absolute;
    top: 22px;
    left: 450px;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
}
nav#menu li{
    display: inline-block;
    background-color:#28669b;
    padding: 6px;
    margin: 2px;
    transition: background-color 0.8s;
}
nav#menu h1{
    display: none;
}
nav#menu li:hover{
    background-color:#034d7d;
}
nav#menu a{
    color: white;
    text-decoration: none;
}
/*Formataçao de imagens*/
div#interface img{
    position: relative;
    top: -27px;
}
div#interface h1{
    font-family:"Courier New";
    color: #040c74;
    position: relative;
    left: 410px;
    font-size: 35px;
    top: -250px;
}
nav#coluna1{
   position: relative;
    left: 140px;
    top: 70px;

}
nav#coluna2{
    position: absolute;
    left: 643px;
    top: 796px;
}
div#interface h3{
    font-size: 15pt;
    color: #020b82;
    text-transform: uppercase;
    position: relative;
    left: 50px;
    top: -12px;
}
div#interface h4{
    color: #040c74;
    position: relative;
    left: 0px;
    top: -15px;
}
div#interface p{
    position: absolute;
    top: 215px;
    left: 0px;
}
div#interface .ump{
    border-right: 1px dashed rgba(0,0,0,.4);
}
div#interface .p3{
    position: absolute;
    top: 550px;
    left: 0px;
}
div#interface .p5{
    position: absolute;
    top: 885px;
    left: 0px;
}
div#interface .p2{
     position: absolute;
     top: 215px;
     left: 0px;
}
div#interface .p4{
    position: absolute;
    top: 550px;
    left: 0px;
}
div#interface .p6{
    position: absolute;
    top: 885px;
    left: 0px;
}
div#coluna1 p img{
    clear: both;
    border-right: 1px solid rgba(0,0,0,.4);

    position: relative;
    left: 50px;
    top: -30px;
}
div#interface h5{
    background-color: #28669b;
    color: white;
    position: relative;
    left: 300px;
    margin: 0px;
    padding: 2px;
    width: 130px;
    right: 130px;
    top: -17px;
}
#n1{
    clear: both;
    border-top: 1px solid rgba(0,0,0,.4);
    width: 34%;
    right: 34%;
    position: relative;
    left: 50px;
    top: -30px;
}

#n3{
    clear: both;
    border-top: 1px solid rgba(0,0,0,.4);
    width: 34%;
    right: 34%;
    position: relative;
    left: 50px;
    top: -30px;
}
#n5{
    clear: both;
    border-top: 1px solid rgba(0,0,0,.4);
    width: 34%;
    right: 34%;
    position: relative;
    left: 50px;
    top: -30px;
}
#n2{
    clear: both;
    border-top: 1px solid rgba(0,0,0,.4);
    width: 88%;
    right: 88%;
    position: relative;
    left: 50px;
    top: -30px;}
#n4 {
    clear: both;
    border-top: 1px solid rgba(0, 0, 0, .4);
    width: 88%;
    right: 88%;
    position: relative;
    left: 50px;
    top: -30px;
}
#n6 {
    clear: both;
    border-top: 1px solid rgba(0, 0, 0, .4);
    width: 88%;
    right: 88%;
    position: relative;
    left: 50px;
    top: -30px;
}

footer#rodape{
    clear: top;
    border-top: 1px solid yellow;
}
