@charset "UTF-8";


body{
    background-color: white;
}
div#barra{
    margin: 0px 0px 0px 0px;
}


img#icone {
    top: 5px;
    position: absolute;
    left: 0px;
}
.capa{
    background:url('../_imagens/capa.png') no-repeat 0px 0px;
    min-height:605px;
    background-size:cover;
    position:relative;
    top: 100px;
    left: -8px;
    width: 1265px;
}
div#cabecalho{
    display: block;
    position: relative;
}
/*Menu*/
*{margin:0;
  padding:0;
}
.meni{
    width: 100%;
    right: 50px;
    font-family: 'Arial';
    top: 30px;
    position: absolute;
    left: 300px;
}
.meni ul{
    list-style: none;
    position: relative;
}
.meni ul li {
    width: 180px;
    float: left;
    margin: 0px;
}
.meni a{
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color:#28669a;
    color: white;
}
.meni ul ul {
    position: absolute;
    visibility: hidden;
}
.meni ul li:hover ul{
    visibility: visible;
}
.meni a:hover{
    background-color: #002e5d;
}
.meni ul ul li {
    float: none;
    border-bottom: 1px solid #002e5d;
}
.meni ul ul li a{
    background-color: #28669a;
}
label[for="bt_menu"]{
    padding: 5px;
    background-color: #002e5d;
    color: white;
    font-family:Arial;
    text-align: right;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    right: 50px;
}
#bt_menu{
    display: none;
}
label[for="bt_menu"]{
    display: none;
}

@media(max-width: 800px){
    label[for="bt_menu"]{
        display: block;
    }
    #bt_menu:checked ~ .meni{
        margin-left: 0;
    }
    .meni{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }
    .meni ul li{
        width: 100%;
        float: none;
    }
    .meni ul ul{
        position: static;
        overflow:hidden;
        max-height: 0;
        transition:  all .4s;
    }
    .meni ul li:hover ul{
        height: auto;
        max-height: 200px;

    }
}
/*Formataçao de imagens*/
div#interface img{
    position: relative;
    top: -27px;
}
div#interface h1{
    font-size: 40px;
    color: #002e5d;
    text-shadow: 1px 4px 5px rgba(0,0,0,.4);
    left: 410px;
    position: relative;
    top: -230px;
}
nav#coluna1{
   position: relative;
    left: 140px;
    top: 66px;

}
nav#coluna2{
    position: absolute;
    left: 643px;
    top: 800px;
}
div#interface h3{
    font-size: 15pt;
    color: #020b82;
    text-transform: uppercase;
    position: relative;
    left: 50px;
    top: -12px;
}
div#interface h4{
    color: #040c74;
    position: relative;
    left: 0px;
    top: -15px;
}
div#interface a{
   text-decoration: none;
    color: white;
}
div#interface h5{
    text-align:justify ;
}
div#interface p{
    position: absolute;
    top: -1px;
    left: 0px;
}
div#interface .ump{
    border-right: 1px dashed rgba(0,0,0,.4);
}
div#interface .p3{
    position: absolute;
    top: 550px;
    left: 0px;
}
div#interface .p5{
    position: absolute;
    top: 885px;
    left: 0px;
}
div#interface .p2{
     position: absolute;
     top: 215px;
     left: 0px;
}
div#interface .p4{
    position: absolute;
    top: 550px;
    left: 0px;
}

div#coluna1 p img{
    clear: both;
    border-right: 1px solid rgba(0,0,0,.4);
    position: relative;
    left: 50px;
    top: -30px;
}
div#interface h5{
    background-color: #28669b;
    color: white;
    position: relative;
    left: 300px;
    margin: 0px;
    padding: 2px;
    width: 130px;
    right: 130px;
    top: -17px;
}
#n1{
    clear: both;
    border-top: 1px solid rgba(0,0,0,.4);
    width: 34%;
    right: 34%;
    position: relative;
    left: 50px;
    top: -30px;
}

#n3{
    clear: both;
    border-top: 1px solid rgba(0,0,0,.4);
    width: 34%;
    right: 34%;
    position: relative;
    left: 50px;
    top: -30px;
}
#n5{
    clear: both;
    border-top: 1px solid rgba(0,0,0,.4);
    width: 34%;
    right: 34%;
    position: relative;
    left: 50px;
    top: -30px;
}
#n2{
    clear: both;
    border-top: 1px solid rgba(0,0,0,.4);
    width: 88%;
    right: 88%;
    position: relative;
    left: 50px;
    top: -30px;}
#n4 {
    clear: both;
    border-top: 1px solid rgba(0, 0, 0, .4);
    width: 88%;
    right: 88%;
    position: relative;
    left: 50px;
    top: -30px;
}
#n6 {
    clear: both;
    border-top: 1px solid rgba(0, 0, 0, .4);
    width: 88%;
    right: 88%;
    position: relative;
    left: 50px;
    top: -30px;
}
section#corpo{
    display: block;
    float: left;
    width: 660px;
}
aside#lateral{
    display: block;
    float: right;
    width: 600px;
}
footer#rodape{
    clear: both;
}
