@charset "UTF-8";
body{
  background-color: white;
}
div#cor{
    right: 600px;
    width:950px;
    background-color:#eef3f8;
    margin: 2px auto 0px auto;
    padding: 0px;

}
section#borda {
    clear: both;
    border-top: 1px solid rgba(0,0,0,.1);
}
section#borda img {
    font-family: Calibri;
    margin-left: 30px;
    margin-right: auto;
    width: 37em
}
div#cor h1 {
    font-family: Calibri;
    font-size: 35pt;
    color:#045184;
    text-shadow: 1px 2px 3px rgba(0,0,0,.4);
    position: relative;
    top: 30px;
    left: 30px;
}
*{
    margin: 0px;
    padding: 0px;
}
.galeria{
    margin: 200px;
    width: 300px;
    right: 150px;
    overflow: hidden;
}
.foto {
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    top: 200px;
    left: 200px;
}
@keyframes animacao {
    25%{
        opacity: 1;
        transform:scale(1.1,1.1);
    }
    50%{
        opacity: 0;
    }
}
.foto:nth-child(1){

}
.foto:nth-child(2){
    animation-delay: 5s;
}
.foto:nth-child(3){
    animation-delay: 10s;
}
.foto:nth-child(4){
    animation-delay: 15s;
}
.foto:nth-child(5){
    animation-delay: 20s;
}
section#borda P {
    font-family:Arial;
    font-size: 13.5pt;
    color:#045184;
    margin-left: 30px;
    margin-right: auto;
    width: 33em
}
aside#lateral{
    font-family: Calibri;
    font-size: 25pt;
    text-shadow: 1px 2px 3px rgba(0,0,0,.4);
    color:#045184;
    position: absolute;
    top: 200px;
    left: 63%;
}
footer#rodape{
    clear: both;
}