@charset "UTF-8";
body{
    background-color: white;
}
div#cor2{
    right: 600px;
    width:950px;
    background-color:#eef3f8;
    margin: 2px auto 0px auto;
    padding: 0px;

}
section#borda2 {
    clear: both;
    border-top: 1px solid rgba(0,0,0,.1);
}
section#corpo2 img {
   width: 40%;
   right: 40%;
    padding:150px;
}
h1 {
    text-transform: uppercase;
    font-family: Calibri;
    font-size: 35pt;
    color:#045184;
    text-shadow: 1px 2px 3px rgba(0,0,0,.4);
    border-bottom: 1px solid rgba(0,0,0,.4);
    width: 905px;
    padding: 10px;
    padding-top: 50px;
}

div#cor2 P {
    font-family:Arial;
    font-size: 12.5pt;
    color:#045184;
    margin-left: 30px;
    margin-right: auto;
    width: 33em;
    padding: 8px;
}
aside#lateral{
    font-family: Calibri;
    font-size: 25pt;
    text-shadow: 1px 2px 3px rgba(0,0,0,.4);
    color:#045184;
    position: absolute;
    top: 250px;
    left: 63%;
}
aside#lateral img{
    width: 60%;
    right: 60%;
    display: block;
    margin: 4px;
}
footer#rodape{
    clear: both;
}