@charset "UTF-8";


div#rest{
    right: 600px;
    width:960px;
    margin: 2px auto 0px auto;
    padding: 50px;
}
h1{
    font-size: 14pt;
    font-family: Calibri;
    color: #002e5d;
    margin: 5px;
    padding: 5px;
    text-align: left;
}
div#rest p{
    font-family: Calibri;
    font-size: 10.5pt;
    color: #002e5d;
    text-align: justify;
    margin: 5px;
    padding:5px ;
}
div#rest img{
    width: 32%;
    right: 32%;
    position:relative;
    left:10px
}