@charset "UTF-8";
body{
    margin: auto;
}
div#tam {
    right: 600px;
    width: 950px;
    margin: 2px auto 0px auto;
    padding: 50px;
}
div#tam img{
    width: 800px;
    right: 400px;
}
div#tam h1{
    font-family: "Calibri Light";
    text-shadow: 1px 3px 1px rgba(0,0,0,.6);

    color: #045184;
    text-transform: uppercase;
    width: 700px;
}

div#tam h1 {
    font-family: Constantia;
    font-size: 50px;
    color: #002e5d;
    text-shadow: 1px 4px 5px rgba(0, 0, 0, .4);
    margin: 2px;
}
div#tam P {
    font-family: Calibri;
    font-size: 10.5pt;
    width: 49em;
    text-align: justify;
}
div#tam h2{

}
h5{
    font-style: italic;
    font-size: 14px;
    text-align: justify;
}

section#ump h2{
    border-top: 1px solid rgba(0,0,0,.4);
    width:57%;
    margin:5px;
    padding:5px;
    text-align: left;
}





