@charset "UTF-8";

div#tam{
    width:950px;
    right: 600px;
    width:800px;
    margin: 2px auto 0px auto;
    padding: 50px;
}
div#tam h1 {
    font-family: Constantia;
    font-size: 50px;
    color: #002e5d;
    text-shadow: 1px 4px 5px rgba(0, 0, 0, .4);
    margin: 2px;
}
aside#direito h1 {
    font-family: Constantia;
    font-size: 50px;
    color: #002e5d;
    text-shadow: 1px 4px 5px rgba(0, 0, 0, .4);
    margin: 2px;
    float: left;
}
section#esquerdo {
    color: #040c74;
}
section#esquerdo img{
     width: 60%;
     right: 60%;
}
aside#direito {
    float: right;
}
section#direito {
    color: #040c74;
    width: 21%;
    right: 21%;
}
aside#direito img{
                       width: 60%;
                       right: 60%;
                   }

aside#direito p{
    font-size: 10.5pt;
    font-family:sans-serif;
    width: 21em;
    text-align: justify;
}
div#tam p {
    font-size: 10.5pt;
    font-family: sans-serif;
    width: 21em;
}
h1{
      color: #002e5d;
      text-shadow: 1px 4px 5px rgba(0,0,0,.4);
      margin: 2px;
      position:relative;
      left: 180px;
}
h2 {
    font-family: Calibri;
}
h2{
margin: 4px;
 }
h5 {
    font-style: italic;
    font-size: 14px;
    text-align: justify;
}
section#esquerdo{
      float: left;
     width: 500px;
}
aside#direito{
    display: block;
    float: right;
    width: 500px;
}
section#faca{
    position: relative;
    left: 290px;

}

footer#rodape{
    clear: both;
}